Django==2.0.2
django-filter==1.1.0
django-mssql==1.8
django-simple-rest==1.4.1
django-sqlserver==1.11
DjangoCaptcha==0.3.5
djangorestframework==3.8.2
ecdsa==0.13
future==0.16.0
Markdown==2.6.11
mimeparse==0.1.3
olefile==0.45.1
Pillow==4.3.0
pyasn1==0.4.2
PyMySQL==0.8.1
pypng==0.0.18
python-jose==3.0.0
python-tds==1.9.1
pytz==2018.4
rsa==3.4.2
simplejson==3.14.0
six==1.11.0
